@font-face {
    font-family: Outfit;
    src: url("../assets/fonts/outfit-regular.woff2") format('woff2'),
        url("../assets/fonts/outfit-regular.ttf") format('truetype');
}

@font-face {
    font-family: Raleway;
    src: url("../assets/fonts/raleway-regular.woff2") format('woff2'),
        url("../assets/fonts/raleway-regular.ttf") format('truetype');
}